<div class="notebook-container">
    <header class="header">
      <div class="header-left">
        <h1>{{notebookModel.name}}</h1>
      </div>
      <div class="header-right">
        <button mat-raised-button color="accent" (click)="downloadNotebook()">Download</button>
      </div>
    </header>
  
    <aside class="file-system">
      <h2>File System</h2>
      <div *ngFor="let file of fileSystem">
        <div>
          <span>{{ file }}</span>
          <button mat-icon-button (click)="downloadFile(file)">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </div>
      <input type="file" (change)="onFileSelected($event)" />
      <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
    </aside>
  
    <main class="editor">
      <div *ngFor="let cell of notebook.cells; let i = index" class="cell">
        <p *ngIf="notebookModel.type == 'distributed'" >{{cell.type}}</p>
        <p>Code</p>
        <textarea [(ngModel)]="cell.code" placeholder="Write your code here"></textarea>
        <div class="outputs">
          <p>Output</p>
        <div *ngFor="let output of cell.outputs">
          <textarea [value]="output" readonly class="output-area">output</textarea>
        </div>
      </div>
        <div class="cell-actions">
          <button mat-raised-button color="primary" (click)="runCell(cell)">Run</button>
        </div>
      </div>
      <div *ngIf="notebookModel.type == 'distributed'" cell-execution>
        <label>
          <input type="radio" [(ngModel)]="newCellType" [value]="'central'" /> Central
        </label>
        <label>
          <input type="radio"  [(ngModel)]="newCellType" [value]="'distributed'"/> Distributed
        </label>
      </div>
      <button mat-raised-button color="primary" (click)="addCell()">Add Cell</button>
    </main>
  </div>
  