<div class="notebook-container">
    <div class="notebook-toolbar">
      <button (click)="addCell('code')">Add Code Cell</button>
      <button (click)="addCell('markdown')">Add Markdown Cell</button>
      <button (click)="saveNotebook()">Save Notebook</button>
    </div>
    
    <div class="cells-container">
      <div *ngFor="let cell of cells" class="cell">
        <div class="cell-toolbar">
          <span>{{cell.type}}</span>
          <button *ngIf="cell.type === 'code'" 
                  (click)="executeCell(cell)"
                  [disabled]="cell.status === 'running'">
            Run
          </button>
          <button (click)="deleteCell(cell.id)">Delete</button>
        </div>
        
        <div class="cell-content">
            <textarea
              #textarea
              rows="4"
              [value]="cell.content"
              [class.code-editor]="cell.type === 'code'"
              (input)="cell.content = textarea.value">
            </textarea>
          </div>
        
        <div *ngIf="cell.type === 'code'" class="cell-output">
          <div *ngIf="cell.status === 'running'">Running...</div>
          <div *ngIf="cell.status === 'error'" class="error">
            {{cell.output}}
          </div>
          <div *ngIf="cell.status === 'complete'">
            <pre>{{cell.output}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>